<nav class="navbar" id="site-nav">
  <a class="logo" href="/" title="home" rel="home" hreflang="en">Sander Van Camp</a>
  <div class="wrapper overlay">
    <ul class="menu overlay-content" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      {% for item in items %}
        {% set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ] %}
        <li{{ item.attributes.addClass(classes, 'menu-item') }} itemprop="name">
          {{ link(item.title, item.url, { 'itemprop':['url'] }) }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <label for="nav" class="nav-toggle" onclick="toggleNav()">
  </label>
</nav>


<script>
    function toggleNav() {
        document.getElementById('site-nav').classList.toggle('expanded');
    }
</script>


{{ attach_library('mrshndr/menu--main') }}
