.node--view-mode-teaser {
  margin-bottom: 35px;
  display: flex;

  flex-direction: column;
  @media (min-width: 500px) {
    flex-direction: row;
  }

  h2 {
    margin-top: 0;
    line-height: 1.35em;
    font-size: 1.3em;
  }

  p {
    margin: 7.5px 0px;
  }

  header {
    margin-top: auto;
    margin-bottom: auto;
  }

  .node__meta {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    opacity: 0.5;
  }
}

.node__teaser__link {
  text-decoration: none;
}

.node__teaser__image {
  -webkit-box-flex: 0;

  margin-bottom: 20px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;

  @media (min-width: 500px) {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 0;
    margin-right: 20px;
  }

  @media (min-width: 600px) {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }

  @media (min-width: 800px) {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
