@import "../colors";

.paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.paragraph img {
  width: 100%;
}

.paragraph--type--gallery > div {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;

  & > div {
    flex: 0 0 33.333333%;
    padding: 15px;
    box-sizing: border-box;


    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ div {
      flex: 0 0 50%;
    }

    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ div {
      flex: 0 0 33.333333%;
    }

    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ div {
      flex: 0 0 25%;
    }
  }

  @media only screen and (max-width: 600px) {
    & > div {
      flex: 0 0 50% !important;
    }
  }

  @media only screen and (max-width: 450px) {
    & > div {
      flex: 0 0 100% !important;
    }
  }
}

.paragraph--type--button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  a {
    font-family: 'Poppins', sans-serif;
    background: $color-black;
    padding: 12.5px 25px;
    color: white !important;
    text-decoration: none;
    letter-spacing: 0.5px;
    display: inline-block;
    transition: 0.2s linear opacity;
  }

  a:hover {
    opacity: 0.9;
  }
}


.paragraph.paragraph--type--quote {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 45px;
  position: relative;
  line-height: 1.4;
}

.paragraph.paragraph--type--image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.paragraph img {
  display: block;
}

/* Accordion styles */
.paragraph.paragraph--type--accordion {
  input {
    display: none;
  }

  .tabs {
    overflow: hidden;
  }

  .tab {
    width: 100%;
    color: $color-black;
    overflow: hidden;

    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $color-light;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: darken($color-light, 10%);
      }

      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }

    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $color-dark;
      background: white;
      transition: all .35s;
    }

    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $color-light;
      cursor: pointer;

      &:hover {
        background: darken($color-light, 10%);
      }
    }
  }

  // :checked
  input:checked {
    + .tab-label {
      background: darken($color-light, 10%);

      &::after {
        transform: rotate(90deg);
        transform-origin: left;
      }
    }

    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
}

